// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

:root {
  color: #333;
  --font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Avenir Next", avenir, "Helvetica Neue", Helvetica, Ubuntu,
    Roboto, Noto, Segoe ui, Arial, sans-serif;
  --font-family-display: "Roboto", -apple-system, BlinkMacSystemFont, "Avenir Next", avenir, "Helvetica Neue", Helvetica,
    Ubuntu, Roboto, Noto, Segoe Ui, Arial, sans-serif;
  --font-family-mono: "Roboto Mono", Menlo, Consolas, Monaco, "Liberation Mono", Lucida Console, monospace;
  --font-size-small: 12px;

  --primary-color: #7e351e;
  --header-bg: #7e351e;

  --primary-dark: #4c1f12;

  --home-link-color: #b14a2a;
  --home-link-hover-color: var(--primary-color);

  --button-color: #111;
  --button-alternate-color: #fee1d8;

  --post-link-color: #0f070b;

  --nav-link-hover-bg: #111;
  --text-color-meta: rgba(0, 0, 0, 0.5);

  --label-text: rgba(0, 0, 0, 0.5);
  --input-focus-border: #0086ca;

  // CSS Grid Utility
  --grid-gap: 30px;
}
